.root {
	    	
}

.label {
	-fx-background-color: orange;  
}

#special-pane-id {
	-fx-background-color: yellow;  
}

#button-calculate {
	-fx-background-color: #00FFFF;  
}


#special-label {
	-fx-font-size: 30px;
}

#text-field-operation-history {
	-fx-background-color: black;  
	-fx-text-fill: white;
}